.navbar{
    position: relative;
    height: 64px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
  }
  .navbar-brand{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #000000;
  }
      
  #button-texto{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
  }

  .titulo-cont{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 34px;
    text-align: center;
    color: #000000;
  }

  .texto-cont{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #000000;
  }
  .button-cont{
    height: 60px;
    width: 200px;
    margin-left: 101px;     
    border-radius: 0px;
    background: #000000;
    border-radius: 5px;        
  }
  .Texto_perfil{
    position: relative;
    width: 691px;
    height: 33px;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    color: #000000;
  }
  .imagem-perfil{    
    border-radius: 15px;
    align-items: center;
    }
  .nome-perfil{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #000000;
  }
  .texto1-login{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 45px;
    color: #000000;
  }
  .texto2-login{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 45px;
    color: #000000;
  }
  .botao-cadastro{
    height: 48px;
    width: 200px;
    background: #000000;
    border-radius: 5px; 
    }
  .botao-login{
    height: 48px;
    width: 200px;
    border-radius: 5px;
    border: 1px solid #000000;
    box-sizing: border-box;
  } 
  .linha-vertical {
    height: 300px;
    border-left: 2px solid;
    margin-top: 30px;
    margin-bottom: 30px;
    color:#000000;
  }