<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href="{{ url_for('static', filename= 'css/bootstrap.min.css' ) }}">
    <title>JobsFinder - Login</title>
</head>
<body>
    <form action="" method="POST">
        {{ form.csrf_token }}
        <div class="form-group">
          <label>Email address:</label>
          {{ form.username(class="form-control", placeholder="Email") }}
        </div>
        <div class="form-group">
          <label>Password:</label>
          {{ form.password(class="form-control", placeholder="Password") }}
        </div>
        <div class="form-check">
          <label class="form-check-label">
            {{ form.remember_me }} Remember me
          </label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      <script src="{{ url_for('static', filename= 'js/bootstrap.min.js' ) }}"></script>
</body>
</html>