<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href="{{ url_for('static', filename= 'css/bootstrap.min.css' ) }}">
  <link rel='stylesheet' href="{{ url_for('static', filename= 'style.css' ) }}">
  <title>JobsFinder - Login</title>
</head>

<body class='conteiner-fluid'style="background: #F2F2F2;">
  <nav class="navbar navbar-expand-lg navbar-light bg-light row px-5">
    <a class="navbar-brand " href="{{ url_for('index') }}"><b>JOBSFINDER</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav col-8">
        {% if id %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('perfil') }}">Perfil
          </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('cadastroJobs') }}">Criar Job</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('logout') }}">Sair</a>
        </li>
        {% endif %}
      </ul>
        {% if id %}
        {% else %}
      <ul class="navbar-nav col-4 justify-content-end">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('login') }}"> <button class="btn btn-dark my-2 my-sm-0">Login</button></a>
        </li>
      </ul>
      {% endif %}
    </div>
  </nav>
  <div>
    {% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-danger position-fixed w-50 text-center" role="alert">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}
{% block body %}{% endblock %}
  </div class="login">
  <form action="" method="POST" class="pt-4 w-50">
    {{ form.csrf_token }}
    <p class='container' style=" text-align: center;">Já possui uma conta?</p>
    <div class="form-group" style="padding-left: 128px;">
      {{ form.email(class="form-control", style="height: 64px; width: 360px;" , placeholder="Email") }}
    </div>
    <div class="form-group" style="padding-left: 128px;">
      {{ form.password(class="form-control", style="height: 64px; width: 360px;" , placeholder="Senha") }}
    </div>    
    <button type="submit" style="height: 64px; width: 360px; border-radius: 5px; background: #000000; margin-left: 128px;" ><text class="text-light">Entrar</text></button>   
  </form>
  </div>
  <div class="cadastro">    
    <p class='pr-2'>Não possui uma conta?</p>
    {{ form.email(class="form-control", style="height: 64px; width: 360px;" , placeholder="Email") }}
    <button type="submit" style="height: 64px; width: 360px; border-radius: 5px; background: #000000; margin-top: 17px;" ><text class="text-light">Entrar</text></button>
  </div>
  <script src="{{ url_for('static', filename= 'js/bootstrap.min.js' ) }}"></script>
</body>

</html>